<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calender Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-[1440px] h-[1024px] relative bg-white  overflow-hidden">
    <div class="w-20 h-20 left-[748px] top-[128px] absolute">
        <div class="w-20 h-20 left-0 top-0 absolute bg-[#f7f7f7] rounded-2xl border border-black"></div>
    </div>
    <div class="w-20 h-20 left-[844px] top-[128px] absolute">
        <div class="w-20 h-20 left-0 top-0 absolute bg-[#f7f7f7] rounded-2xl border border-black"></div>
    </div>
    <div class="w-20 h-20 left-[940px] top-[128px] absolute">
        <div class="w-20 h-20 left-0 top-0 absolute bg-[#f7f7f7] rounded-2xl border border-black"></div>
    </div>
    <div class="w-20 h-20 left-[1036px] top-[128px] absolute">
        <div class="w-20 h-20 left-0 top-0 absolute bg-[#f7f7f7] rounded-2xl border border-black"></div>
    </div>
    <div class="w-20 h-20 left-[1132px] top-[129px] absolute">
        <div class="w-20 h-20 left-0 top-0 absolute bg-[#f7f7f7] rounded-2xl border border-black"></div>
    </div>
    <div class="w-[250px] h-[50px] left-[420px] top-[146px] absolute bg-[#d9d9d9] rounded-lg border border-black"></div>
    <div class="left-[436px] top-[159px] absolute text-black text-xl font-normal font-['Inter']">J103678512SD666660</div>
    <div class="w-[100px] h-[100px] left-[269px] top-[121px] absolute">
        <div class="w-[100px] h-[100px] left-0 top-0 absolute bg-[#d9d9d9] rounded-full border border-black"></div>
        <div class="w-[33px] h-[50px] left-[33px] top-[25px] absolute">
            <div class="w-6 h-[23px] left-[5px] top-0 absolute bg-white rounded-full"></div>
        </div>
    </div>
    <img class="w-[36.75px] h-[36.75px] left-[865.80px] top-[150.49px] absolute" src="https://via.placeholder.com/37x37" />
    <img class="w-[45.69px] h-[44.30px] left-[765.51px] top-[146.51px] absolute" src="https://via.placeholder.com/46x44" />
    <img class="w-[57.27px] h-[30.79px] left-[951px] top-[154px] absolute" src="https://via.placeholder.com/57x31" />
    <img class="w-[32.78px] h-[38.73px] left-[1060px] top-[150px] absolute" src="https://via.placeholder.com/33x39" />
    <img class="w-[39px] h-[39px] left-[1152px] top-[149px] absolute" src="https://via.placeholder.com/39x39" />
    <div class="w-[805.20px] h-[117px] left-[282px] top-[782px] absolute">
        <div class="w-[115.20px] h-[117px] left-[690px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-0 top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[115px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[230px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[345px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[460px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[575px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
    </div>
    <div class="w-[805.20px] h-[117px] left-[282px] top-[665px] absolute">
        <div class="w-[115.20px] h-[117px] left-0 top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[115px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[230px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[345px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[460px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[575px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[690px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
    </div>
    <div class="w-[805.20px] h-[117px] left-[282px] top-[548px] absolute">
        <div class="w-[115.20px] h-[117px] left-0 top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[115px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[690px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[460px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[575px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[345px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[230px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
    </div>
    <div class="w-[805.20px] h-[117px] left-[282px] top-[431px] absolute">
        <div class="w-[115.20px] h-[117px] left-[115px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[230px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[345px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[460px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[575px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-[690px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[115.20px] h-[117px] left-0 top-0 absolute bg-[#f7f7f7] border border-black"></div>
    </div>
    <div class="left-[1024px] top-[447px] absolute text-black text-xs font-normal font-['Inter']">14</div>
    <div class="left-[913px] top-[447px] absolute text-black text-xs font-normal font-['Inter']">13</div>
    <div class="left-[796px] top-[447px] absolute text-black text-xs font-normal font-['Inter']">12</div>
    <div class="left-[681px] top-[447px] absolute text-black text-xs font-normal font-['Inter']">11</div>
    <div class="left-[563px] top-[447px] absolute text-black text-xs font-normal font-['Inter']">10</div>
    <div class="left-[451px] top-[447px] absolute text-black text-xs font-normal font-['Inter']">9</div>
    <div class="left-[335px] top-[447px] absolute text-black text-xs font-normal font-['Inter']">8</div>
    <div class="left-[448px] top-[563px] absolute text-black text-xs font-normal font-['Inter']">16</div>
    <div class="left-[563px] top-[563px] absolute text-black text-xs font-normal font-['Inter']">17</div>
    <div class="left-[681px] top-[563px] absolute text-black text-xs font-normal font-['Inter']">18</div>
    <div class="left-[796px] top-[563px] absolute text-black text-xs font-normal font-['Inter']">19</div>
    <div class="left-[912px] top-[563px] absolute text-black text-xs font-normal font-['Inter']">20</div>
    <div class="left-[1023px] top-[678px] absolute text-black text-xs font-normal font-['Inter']">28</div>
    <div class="left-[912px] top-[678px] absolute text-black text-xs font-normal font-['Inter']">27</div>
    <div class="left-[796px] top-[678px] absolute text-black text-xs font-normal font-['Inter']">26</div>
    <div class="left-[681px] top-[678px] absolute text-black text-xs font-normal font-['Inter']">25</div>
    <div class="left-[563px] top-[678px] absolute text-black text-xs font-normal font-['Inter']">24</div>
    <div class="left-[448px] top-[678px] absolute text-black text-xs font-normal font-['Inter']">23</div>
    <div class="left-[332px] top-[678px] absolute text-black text-xs font-normal font-['Inter']">22</div>
    <div class="left-[332px] top-[793px] absolute text-black text-xs font-normal font-['Inter']">29</div>
    <div class="left-[447px] top-[793px] absolute text-black text-xs font-normal font-['Inter']">30</div>
    <div class="left-[563px] top-[793px] absolute text-black text-xs font-normal font-['Inter']">31</div>
    <div class="left-[797px] top-[793px] absolute text-black text-xs font-normal font-['Inter']">2</div>
    <div class="left-[912px] top-[793px] absolute text-black text-xs font-normal font-['Inter']">3</div>
    <div class="left-[1027px] top-[793px] absolute text-black text-xs font-normal font-['Inter']">4</div>
    <div class="left-[336px] top-[326px] absolute text-black text-xs font-normal font-['Inter']">1</div>
    <div class="w-[805.20px] h-[117px] left-[282px] top-[314px] absolute">
        <div class="w-[115.20px] h-[117px] left-[460px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        <div class="w-[805.20px] h-[117px] left-0 top-0 absolute">
            <div class="w-[115.20px] h-[117px] left-[115px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
            <div class="w-[115.20px] h-[117px] left-0 top-0 absolute bg-[#f7f7f7] border border-black"></div>
            <div class="w-[115.20px] h-[117px] left-[230px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
            <div class="w-[115.20px] h-[117px] left-[345px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
            <div class="w-[115.20px] h-[117px] left-[575px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
            <div class="w-[115.20px] h-[117px] left-[690px] top-0 absolute bg-[#f7f7f7] border border-black"></div>
        </div>
    </div>
    <div class="left-[566px] top-[326px] absolute text-black text-xs font-normal font-['Inter']">3</div>
    <div class="left-[681px] top-[326px] absolute text-black text-xs font-normal font-['Inter']">4</div>
    <div class="left-[800px] top-[326px] absolute text-black text-xs font-normal font-['Inter']">5</div>
    <div class="left-[682px] top-[793px] absolute text-black text-xs font-normal font-['Inter']">1</div>
    <div class="left-[915px] top-[326px] absolute text-black text-xs font-normal font-['Inter']">6</div>
    <div class="left-[682px] top-[793px] absolute text-black text-xs font-normal font-['Inter']">1</div>
    <div class="left-[1030px] top-[326px] absolute text-black text-xs font-normal font-['Inter']">7</div>
    <div class="left-[336px] top-[326px] absolute text-black text-xs font-normal font-['Inter']">1</div>
    <div class="left-[451px] top-[326px] absolute text-black text-xs font-normal font-['Inter']">2</div>
    <div class="left-[1024px] top-[563px] absolute text-black text-xs font-normal font-['Inter']">21</div>
    <div class="left-[333px] top-[563px] absolute text-black text-xs font-normal font-['Inter']">15</div>
    <div class="w-[42px] h-[13px] left-[980px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[1122px] top-[382px] absolute bg-[#eec800] rounded"></div>
    <div class="w-[42px] h-[13px] left-[1122px] top-[316px] absolute bg-[#dd0000] rounded"></div>
    <div class="w-[42px] h-[13px] left-[1122px] top-[349px] absolute bg-[#6fbaff] rounded"></div>
    <div class="w-[42px] h-[13px] left-[1122px] top-[415px] absolute bg-[#999999] rounded"></div>
    <div class="w-[42px] h-[13px] left-[1122px] top-[448px] absolute bg-[#03b500] rounded"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[850px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[613px] absolute bg-[#999999] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[376px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[502px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[502px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[502px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[502px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[502px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[502px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[502px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[502px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[502px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[502px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[502px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[502px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[502px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[502px] absolute bg-[#eec800] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[730px] absolute bg-[#03b500] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[825px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[588px] absolute bg-[#a1d2ff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[351px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[477px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[477px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[477px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[477px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[477px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[477px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[477px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[477px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[477px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[477px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[477px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[477px] absolute bg-[#00637c] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[477px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[477px] absolute bg-[#dd0000] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[980px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[864px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[749px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[634px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[519px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[404px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="w-[42px] h-[13px] left-[289px] top-[705px] absolute bg-[#6fbaff] rounded-[5px]"></div>
    <div class="left-[282px] top-[256px] absolute text-black text-2xl font-normal font-['Inter']">July 24</div>
    <div class="left-[1175px] top-[314px] absolute text-black text-sm font-light font-['Inter']">Requested Appointment</div>
    <div class="left-[1175px] top-[347px] absolute text-black text-sm font-light font-['Inter']">Confirmed Appointment</div>
    <div class="left-[1175px] top-[380px] absolute text-black text-sm font-light font-['Inter']">Activity Assigned</div>
    <div class="left-[1175px] top-[414px] absolute text-black text-sm font-light font-['Inter']">Activity Pending</div>
    <div class="left-[1175px] top-[446px] absolute text-black text-sm font-light font-['Inter']">Activity Completed</div>
    <div class="w-[216px] h-[1024px] left-0 top-0 absolute bg-white rounded-tr-lg rounded-br-lg border border-[#026633]"></div>
    <div class="left-[39px] top-[44px] absolute text-[#026633] text-[40px] font-normal font-['Inter']">Careso</div>
    <div class="left-[53px] top-[111px] absolute text-[#026633] text-base font-normal font-['Inter']">Healing Minds</div>
    <div class="w-[214px] h-[102.40px] left-0 top-[171px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[68px] top-[48px] absolute text-black text-2xl font-medium font-['Inter']">Clients</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-0 top-[273px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[55px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Calendar</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[373px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[38px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Live Activity</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[475px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[46px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Resources</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[681px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[41px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Community</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-0 top-[578px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[79px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Chat</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[2px] top-[873px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[70px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Profile</div>
    </div>
</div>
</body>
</html>