<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-[1440px] h-[1024px] relative bg-white  overflow-hidden">
    <div class="left-[1252px] top-[154px] absolute text-black text-xl font-normal font-['Inter']">Filters</div>
    <div class="w-[13px] h-[0px] left-[1239px] top-[163px] absolute border border-black"></div>
    <div class="w-[9.94px] h-[0px] left-[1240.53px] top-[166.06px] absolute border border-black"></div>
    <div class="w-[5px] h-[0px] left-[1243px] top-[169px] absolute border border-black"></div>
    <div class="w-[808px] h-[65px] left-[309px] top-[838px] absolute bg-[#f7f7f7] rounded-[32.53px] shadow-[inset_0px_4.337528228759766px_4.337528228759766px_0px_rgba(0,0,0,0.10)] border border-[#999999]"></div>
    <div class="w-[319px] h-9 left-[868px] top-[419px] absolute bg-[#026633] rounded-lg"></div>
    <div class="w-[212px] h-9 left-[975px] top-[297px] absolute bg-[#026633] rounded-lg"></div>
    <div class="w-[67px] h-9 left-[1120px] top-[536px] absolute bg-[#026633] rounded-lg"></div>
    <div class="w-[383px] h-[72px] left-[807px] top-[584px] absolute bg-[#026633] rounded-lg"></div>
    <div class="w-[312px] h-9 left-[309px] top-[476px] absolute bg-[#474747] rounded-lg"></div>
    <div class="w-[220px] h-9 left-[309px] top-[352px] absolute bg-[#474747] rounded-lg"></div>
    <div class="w-[230px] h-9 left-[309px] top-[652px] absolute bg-[#474747] rounded-lg"></div>
    <div class="w-[359px] h-[72px] left-[309px] top-[697px] absolute bg-[#474747] rounded-lg"></div>
    <div class="left-[875px] top-[425px] absolute text-white text-xl font-normal font-['Inter']">How are you feeling after meds?</div>
    <div class="left-[983px] top-[303px] absolute text-white text-xl font-normal font-['Inter']">A very good morning  </div>
    <div class="left-[316px] top-[482px] absolute text-white text-xl font-normal font-['Inter']">All good, no headaches or such </div>
    <div class="left-[318px] top-[358px] absolute text-white text-xl font-normal font-['Inter']">Good morning ma,am</div>
    <div class="left-[1128px] top-[542px] absolute text-white text-xl font-normal font-['Inter']">Good</div>
    <div class="w-[371px] left-[819px] top-[596px] absolute text-white text-xl font-normal font-['Inter']">I have some activities assigned to you, follow those everyday</div>
    <div class="left-[316px] top-[658px] absolute text-white text-xl font-normal font-['Inter']">Okay, thank you ma’am</div>
    <div class="w-[368px] left-[320px] top-[708px] absolute text-white text-xl font-normal font-['Inter']">I have been doing the writing for 3 days and it’s really helping me a lot </div>
    <div class="w-[97.22px] h-[21.48px] left-[365.52px] top-[860.14px] absolute text-black/50 text-[22.61px] font-normal font-['Inter']">Message</div>
    <div class="w-[29.39px] h-[29.39px] left-[323.70px] top-[856.75px] absolute bg-[#d9d9d9]/0 rounded-full border border-black/60"></div>
    <div class="w-[3.39px] h-[3.39px] left-[331.61px] top-[864.66px] absolute bg-black/60 rounded-full"></div>
    <div class="w-[3.39px] h-[3.39px] left-[341.78px] top-[864.66px] absolute bg-black/60 rounded-full"></div>
    <img class="w-[22.09px] h-[22.09px] left-[960.69px] top-[872.06px] absolute origin-top-left -rotate-45" src="https://via.placeholder.com/22x22" />
    <img class="w-[35.04px] h-[26.80px] left-[1014.29px] top-[858.58px] absolute" src="https://via.placeholder.com/35x27" />
    <div class="w-[65px] h-[65px] left-[1125px] top-[838px] absolute">
        <div class="w-[65px] h-[65px] left-0 top-0 absolute bg-[#026633] rounded-full"></div>
        <div class="w-[15.65px] h-[44.33px] left-[24px] top-[7px] absolute">
            <div class="w-[15.65px] h-[32.16px] left-0 top-0 absolute bg-gradient-to-b from-[#026633] to-white rounded-[61.42px]"></div>
            <div class="w-[11.74px] h-[24.12px] left-[1.96px] top-[5.22px] absolute bg-gradient-to-b from-white to-black rounded-[46.06px]"></div>
        </div>
    </div>
    <div class="w-[216px] h-[1024px] left-0 top-0 absolute bg-white rounded-tr-lg rounded-br-lg border border-[#026633]"></div>
    <div class="w-[214px] h-[102.40px] left-[-0px] top-[310px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[55px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Calendar</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[410px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[38px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Live Activity</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[512px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[46px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Resources</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[718px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[41px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Community</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[-0px] top-[615px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[79px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Chat</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[2px] top-[820px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[70px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Profile</div>
    </div>
    <div class="left-[41px] top-[63px] absolute text-[#026633] text-[40px] font-normal font-['Inter']">Careso</div>
    <div class="left-[55px] top-[111px] absolute text-[#026633] text-base font-normal font-['Inter']">Healing Minds</div>
    <div class="w-[214px] h-[102.40px] left-[2px] top-[208px] absolute rounded-lg shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] border-[#026633]">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white rounded-lg shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] border-r-2 border-t-2 border-b-2 border-[#026633]"></div>
        <div class="left-[67px] top-[66px] absolute text-black text-2xl font-medium font-['Inter']">Clients</div>
    </div>
    <div class="w-20 h-20 left-[748px] top-[128px] absolute">
        <div class="w-20 h-20 left-0 top-0 absolute bg-[#f7f7f7] rounded-2xl border border-black"></div>
    </div>
    <div class="w-20 h-20 left-[844px] top-[128px] absolute">
        <div class="w-20 h-20 left-0 top-0 absolute bg-[#f7f7f7] rounded-2xl border border-black"></div>
    </div>
    <div class="w-20 h-20 left-[940px] top-[128px] absolute">
        <div class="w-20 h-20 left-0 top-0 absolute bg-[#f7f7f7] rounded-2xl border border-black"></div>
    </div>
    <div class="w-20 h-20 left-[1036px] top-[128px] absolute">
        <div class="w-20 h-20 left-0 top-0 absolute bg-[#f7f7f7] rounded-2xl border border-black"></div>
    </div>
    <div class="w-20 h-20 left-[1132px] top-[128px] absolute">
        <div class="w-20 h-20 left-0 top-0 absolute bg-[#f7f7f7] rounded-2xl border border-black"></div>
    </div>
    <div class="w-[250px] h-[50px] left-[420px] top-[146px] absolute bg-[#d9d9d9] rounded-lg border border-black"></div>
    <div class="left-[436px] top-[159px] absolute text-black text-xl font-normal font-['Inter']">J103678512SD666660</div>
    <div class="w-[100px] h-[100px] left-[269px] top-[121px] absolute">
        <div class="w-[100px] h-[100px] left-0 top-0 absolute bg-[#d9d9d9] rounded-full border border-black"></div>
        <div class="w-[33px] h-[50px] left-[33px] top-[25px] absolute">
            <div class="w-6 h-[23px] left-[5px] top-0 absolute bg-white rounded-full"></div>
        </div>
    </div>
    <img class="w-[36.75px] h-[36.75px] left-[865.80px] top-[150.49px] absolute" src="https://via.placeholder.com/37x37" />
    <img class="w-[45.69px] h-[44.30px] left-[765.51px] top-[146.51px] absolute" src="https://via.placeholder.com/46x44" />
    <img class="w-[57.27px] h-[30.79px] left-[951px] top-[154px] absolute" src="https://via.placeholder.com/57x31" />
    <img class="w-[32.78px] h-[38.73px] left-[1060px] top-[150px] absolute" src="https://via.placeholder.com/33x39" />
    <img class="w-[39px] h-[39px] left-[1152px] top-[149px] absolute" src="https://via.placeholder.com/39x39" />
    <div class="w-[21px] h-[41px] pb-0.5 left-[1072px] top-[852px] absolute flex-col justify-center items-center inline-flex">
        <div class="text-[#7c7c7c] text-[32px] font-semibold font-['Inter']">$</div>
    </div>
</div>
</body>
</html>