<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-[1362px] h-[1024px] relative bg-white  overflow-hidden">
    <div class="w-[216px] h-[1024px] left-0 top-0 absolute bg-white rounded-tr-lg rounded-br-lg border border-[#026633]"></div>
    <div class="left-[39px] top-[63px] absolute text-[#026633] text-[40px] font-normal font-['Inter']">Careso</div>
    <div class="left-[53px] top-[111px] absolute text-[#026633] text-base font-normal font-['Inter']">Healing Minds</div>
    <div class="w-[214px] h-[102.40px] left-0 top-[171px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[68px] top-[48px] absolute text-black text-2xl font-medium font-['Inter']">Clients</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-0 top-[273px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[55px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Calendar</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[373px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[38px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Live Activity</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[475px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[46px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Resources</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[681px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[41px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Community</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-0 top-[578px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[79px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Chat</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[2px] top-[873px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[70px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Profile</div>
    </div>
    <div class="w-[260px] h-[60px] left-[275px] top-[71px] absolute bg-[#f7f7f7] rounded-[32px] shadow-[inset_0px_4px_4px_0px_rgba(0,0,0,0.10)] border border-[#999999]"></div>
    <div class="w-[18px] h-[22.06px] left-[295px] top-[91px] absolute">
        <div class="w-[14.94px] h-[14.94px] left-0 top-0 absolute bg-[#d9d9d9]/0 rounded-full border border-black"></div>
        <div class="w-[11.49px] h-[0px] left-[10.66px] top-[13.22px] absolute origin-top-left rotate-[50.29deg] border border-black"></div>
    </div>
    <div class="left-[331px] top-[92px] absolute text-black/50 text-xl font-medium font-['Inter']">Search Community </div>
    <div class="w-[133px] h-[42px] left-[1115px] top-[87px] absolute">
        <div class="w-[133px] h-[42px] left-0 top-0 absolute bg-[#026633]/0 rounded-lg border border-[#026633]"></div>
        <div class="left-[14.25px] top-[11.20px] absolute text-black/50 text-base font-medium font-['Inter']">Careso Room</div>
    </div>
    <div class="w-[440px] h-80 left-[275px] top-[206px] absolute justify-center items-center inline-flex">
        <div class="w-[440px] h-80 bg-white rounded-lg border border-[#026633]"></div>
    </div>
    <div class="w-[440px] h-80 left-[275px] top-[564px] absolute justify-center items-center inline-flex">
        <div class="w-[440px] h-80 bg-white rounded-lg border border-[#026633]"></div>
    </div>
    <div class="w-[440px] h-80 left-[808px] top-[206px] absolute justify-center items-center inline-flex">
        <div class="w-[440px] h-80 bg-white rounded-lg border border-[#026633]"></div>
    </div>
    <div class="left-[817px] top-[365px] absolute text-black text-xl font-medium font-['Inter']">How to make the best pie</div>
    <div class="w-[422px] left-[817px] top-[400px] absolute text-black text-base font-normal font-['Inter']">This is how the best pie is made in the area first make the apple wet and add some salt over it he who make the pie is the king and the one who gets to eat it is the send files to the desk on the fifth floor as soon as possible and get to the meet with the man himself in India and get this deal on the go </div>
    <div class="w-[440px] h-80 left-[808px] top-[564px] absolute justify-center items-center inline-flex">
        <div class="w-[440px] h-80 bg-white rounded-lg border border-[#026633]"></div>
    </div>
    <div class="left-[283px] top-[365px] absolute text-black text-xl font-medium font-['Inter']">How to make the best pie</div>
    <div class="w-[422px] left-[283px] top-[400px] absolute text-black text-base font-normal font-['Inter']">This is how the best pie is made in the area first make the apple wet and add some salt over it he who make the pie is the king and the one who gets to eat it is the send files to the desk on the fifth floor as soon as possible and get to the meet with the man himself in India and get this deal on the go </div>
    <div class="left-[817px] top-[724px] absolute text-black text-xl font-medium font-['Inter']">How to make the best pie</div>
    <div class="left-[284px] top-[724px] absolute text-black text-xl font-medium font-['Inter']">How to make the best pie</div>
    <div class="w-[422px] left-[817px] top-[759px] absolute text-black text-base font-normal font-['Inter']">This is how the best pie is made in the area first make the apple wet and add some salt over it he who make the pie is the king and the one who gets to eat it is the send files to the desk on the fifth floor as soon as possible and get to the meet with the man himself in India and get this deal on the go </div>
    <div class="w-[422px] left-[284px] top-[759px] absolute text-black text-base font-normal font-['Inter']">This is how the best pie is made in the area first make the apple wet and add some salt over it he who make the pie is the king and the one who gets to eat it is the send files to the desk on the fifth floor as soon as possible and get to the meet with the man himself in India and get this deal on the go </div>
</div>
</body>
</html>