<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create Account Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="w-[1440px] h-[1024px] relative bg-white  overflow-hidden">
    <div class="w-[360px] h-[77.49px] left-[511px] top-[275px] absolute">
        <form action="/register" method="post">
              <div class="w-[360px] h-[60px] left-0 top-[17.49px] absolute bg-white rounded-lg border border-black justify-center items-center inline-flex overflow-hidden">     
        <input type="text" placeholder="Enter Name Here" name="name" class="grow shrink basis-0 self-stretch p-4 bg-white rounded-lg text-xl font-normal font-['Inter'] outline-none" />
        </div>
        <div class="w-[93.11px] h-[32.99px] p-[7px] left-[8.06px] top-0 absolute bg-white justify-center items-center gap-[7px] inline-flex">
            <div class="text-black text-base font-normal font-['Inter']">First Name</div>
        </div>
    </div>
    <div class="left-[511px] top-[664px] absolute">
        <span class="text-black text-base font-normal font-['Inter']">Already have an account? </span>
        <span class="text-[#026633] text-base font-medium font-['Inter']">
            <a href="/login" method="post">Login</a>
        </span>
    </div>
    <div class="w-[800px] h-[76px] left-[511px] top-[377px] absolute">
        <div class="w-[800px] h-[60px] left-0 top-[16px] absolute bg-white rounded-lg border border-black">
            <input type="email" placeholder="Enter Email Here" name="email" class="grow shrink basis-0 self-stretch p-4 bg-white rounded-lg text-xl font-normal font-['Inter'] outline-none" />
        </div>
        <div class="w-[53.98px] h-[32.99px] p-[7px] left-[14.72px] top-0 absolute bg-white justify-center items-center gap-[7px] inline-flex">
            <div class="text-black text-base font-normal font-['Inter']">Email </div>
        </div>
    </div>
    <div class="w-[800px] h-[76px] left-[511px] top-[478px] absolute">
        <div class="w-[800px] h-[60px] left-0 top-[16px] absolute bg-white rounded-lg border border-black">
            <input type="password" placeholder="Enter Password Here" name="password" class="grow shrink basis-0 self-stretch p-4 bg-white rounded-lg text-xl font-normal font-['Inter'] outline-none" />
        </div>
        <div class="w-[86.37px] h-[32.99px] p-[7px] left-[14.72px] top-0 absolute bg-white justify-center items-center gap-[7px] inline-flex">
            <div class="text-black text-base font-normal font-['Inter']">Password</div>
        </div>
    </div>
    <div class="w-[360px] h-[60px] pl-[61px] pr-[62px] pt-2.5 pb-[11px] left-[511px] top-[823px] absolute bg-white rounded-lg border border-black justify-center items-center gap-[8.70px] inline-flex overflow-hidden">
        <img class="w-[38.30px] h-[39px]" src="https://via.placeholder.com/38x39" />
        <div class="text-black text-xl font-normal font-['Inter']">Sign up with Google</div>
    </div>
    <div class="w-[360px] h-[60px] pl-[50px] pr-[51px] py-[13px] left-[951px] top-[823px] absolute bg-white rounded-lg border border-black justify-center items-center gap-[9px] inline-flex overflow-hidden">
        <img class="w-[34px] h-[34px]" src="https://via.placeholder.com/34x34" />
        <div class="text-black text-xl font-normal font-['Inter']">Sign up with Digilocker</div>
    </div>
    <div class="w-[800px] h-[60px] py-[18px] left-[511px] top-[579px] absolute bg-[#026633] rounded-lg border border-black justify-center items-center inline-flex overflow-hidden">
        <input class="text-white text-xl font-semibold font-['Inter']" type="submit" value="Next">
    </div>
    <div class="w-[360px] h-[77.49px] left-[951px] top-[275px] absolute">
        <div class="w-[360px] h-[60px] left-0 top-[17.49px] absolute bg-white rounded-lg border border-black">
            <input type="text" placeholder="Enter Last Name Here" name="lastname" class="grow shrink basis-0 self-stretch p-4 bg-white rounded-lg text-xl font-normal font-['Inter'] outline-none" />
        </div>
        <div class="w-[91.19px] h-[32.99px] p-[7px] left-[8.06px] top-0 absolute bg-white justify-center items-center gap-[7px] inline-flex">
            <div class="text-black text-base font-normal font-['Inter']">Last Name</div>
        </div>
    </div>
        </form>
    <div class="w-[432px] h-[1024px] left-0 top-0 absolute bg-[#026633]"></div>
    <div class="left-[511px] top-[187px] absolute text-black text-[40px] font-bold font-['Inter']">Create Account</div>
    <div class="w-[800px] h-[0px] left-[511px] top-[746px] absolute border border-black"></div>
    <div class="px-[11px] left-[890px] top-[738px] absolute bg-white justify-center items-center inline-flex overflow-hidden">
        <div class="text-black text-xl font-normal font-['Inter']">or</div>
    </div>
    <div class="left-[130px] top-[484px] absolute text-[#f1f1f1] text-[64px] font-normal font-['Inter']">Careso</div>
</div>
    </body>
</html>