<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-[1440px] h-[1024px] relative bg-white  overflow-hidden">
    <div class="w-[360px] h-[76.49px] left-[707px] top-[387px] absolute">
        <div class="w-[360px] h-[60px] pl-[251px] pr-2 pt-[11.51px] pb-[11.49px] left-0 top-[16.49px] absolute bg-white rounded-lg border border-black justify-end items-center inline-flex overflow-hidden">
            <input placeholder="Enter your email" name="email" class="grow shrink basis-0 self-stretch p-4 bg-white rounded-lg text-xl font-normal font-['Inter'] outline-none">
        </div>
        <div class="w-[45px] h-[32.99px] p-[7px] left-[10px] top-0 absolute bg-white justify-center items-center gap-[7px] inline-flex">
            <div class="text-black text-base font-normal font-['Inter']">Email</div>
        </div>
    </div>
    
    <div class="w-[360px] h-[60px] py-[18px] left-[707px] top-[558px] absolute bg-[#026633] rounded-lg border border-black justify-center items-center inline-flex overflow-hidden">
        <div class="text-white text-xl font-semibold font-['Inter']">Next</div>
    </div>
    <div class="w-[360px] h-[76.49px] left-[707px] top-[467px] absolute">
        <div class="w-[360px] h-[60px] left-0 top-[16.49px] absolute bg-white rounded-lg border border-black">
            <input placeholder="Enter your password" name="password" class="grow shrink basis-0 self-stretch p-4 bg-white rounded-lg text-xl items-center font-normal font-['Inter'] outline-none">
        </div>
        <div class="w-[125px] h-[32.99px] p-[7px] left-[8px] top-0 absolute bg-white justify-center items-center gap-[7px] inline-flex">
            <div class="text-black text-base font-normal font-['Inter']">Password</div>
        </div>
    </div>
    <div class="w-[432px] h-[1024px] left-0 top-0 absolute bg-[#026633]"></div>
    <div class="left-[130px] top-[484px] absolute text-[#f1f1f1] text-[64px] font-normal font-['Inter']">Careso</div>
    <div class="left-[511px] top-[187px] absolute text-black text-[40px] font-bold font-['Inter']">Log in Account</div>
</div>
</body>
</html>