<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-[1440px] h-[1024px] relative bg-white  overflow-hidden">
    <div class="w-[216px] h-[1024px] left-[2px] top-0 absolute bg-white rounded-tr-lg rounded-br-lg border border-[#026633]"></div>
    <div class="left-[41px] top-[63px] absolute text-[#026633] text-[40px] font-normal font-['Inter']">Careso</div>
    <div class="left-[55px] top-[111px] absolute text-[#026633] text-base font-normal font-['Inter']">Healing Minds</div>
    <div class="w-[214px] h-[102.40px] left-0 top-[208px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[68px] top-[48px] absolute text-black text-2xl font-medium font-['Inter']">Clients</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-0 top-[310px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[55px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Calendar</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[410px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[38px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Live Activity</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[512px] absolute rounded-lg shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] border-r-2 border-t-2 border-b-2 border-[#026633]">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-[#026633]/0 rounded-lg shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)]"></div>
        <div class="left-[46px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Resources</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[718px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[41px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Community</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-0 top-[615px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[79px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Chat</div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[2px] top-[820px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[70px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">Profile</div>
    </div>
    <div class="w-[864px] h-[76px] left-[391px] top-[132px] absolute bg-[#f7f7f7] rounded-[32px] shadow-[inset_0px_4px_4px_0px_rgba(0,0,0,0.10)] border border-[#999999]"></div>
    <div class="w-[23.67px] h-[29px] left-[419px] top-[156px] absolute">
        <div class="w-[19.64px] h-[19.64px] left-0 top-0 absolute bg-[#d9d9d9]/0 rounded-full border-2 border-black"></div>
        <div class="w-[15.11px] h-[0px] left-[14.01px] top-[17.38px] absolute origin-top-left rotate-[50.29deg] border-2 border-black"></div>
    </div>
    <div class="left-[477px] top-[156px] absolute text-black/50 text-2xl font-medium font-['Inter']">Search Resource </div>
    <div class="w-[137px] h-9 left-[322px] top-[259px] absolute bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    <div class="w-[154px] h-9 left-[477px] top-[259px] absolute bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    <div class="w-[257px] h-9 left-[648px] top-[259px] absolute bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    <div class="w-[257px] h-9 left-[1067px] top-[259px] absolute bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    <div class="w-32 h-9 left-[923px] top-[259px] absolute bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    <div class="left-[338px] top-[265px] absolute text-black/60 text-xl font-medium font-['Inter']">Task Sheet</div>
    <div class="left-[487px] top-[265px] absolute text-black/60 text-xl font-medium font-['Inter']">Music Activity</div>
    <div class="left-[657px] top-[265px] absolute text-black/60 text-xl font-medium font-['Inter']">Breathing and Relaxation</div>
    <div class="left-[1074px] top-[265px] absolute text-black/60 text-xl font-medium font-['Inter']">Journaling and Reflection</div>
    <div class="left-[931px] top-[265px] absolute text-black/60 text-xl font-medium font-['Inter']">Goals Mark</div>
    <div class="w-[280px] h-[120px] left-[322px] top-[738px] absolute justify-center items-center inline-flex">
        <div class="w-[280px] h-[120px] bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    </div>
    <div class="w-[280px] h-[120px] left-[323px] top-[540px] absolute justify-center items-center inline-flex">
        <div class="w-[280px] h-[120px] bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    </div>
    <div class="w-[280px] h-[120px] left-[683px] top-[738px] absolute justify-center items-center inline-flex">
        <div class="w-[280px] h-[120px] bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    </div>
    <div class="w-[280px] h-[120px] left-[684px] top-[540px] absolute justify-center items-center inline-flex">
        <div class="w-[280px] h-[120px] bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    </div>
    <div class="w-[280px] h-[120px] left-[684px] top-[346px] absolute justify-center items-center inline-flex">
        <div class="w-[280px] h-[120px] bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    </div>
    <div class="w-[280px] h-[120px] left-[1044px] top-[738px] absolute justify-center items-center inline-flex">
        <div class="w-[280px] h-[120px] bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    </div>
    <div class="w-[280px] h-[120px] left-[1045px] top-[540px] absolute justify-center items-center inline-flex">
        <div class="w-[280px] h-[120px] bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    </div>
    <div class="w-[280px] h-[120px] left-[1045px] top-[346px] absolute justify-center items-center inline-flex">
        <div class="w-[280px] h-[120px] bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    </div>
    <div class="left-[323px] top-[671px] absolute text-black text-base font-medium font-['Inter']">The Team Building | Doc 1</div>
    <div class="left-[323px] top-[869px] absolute text-black text-base font-medium font-['Inter']">Breathing | Level 1</div>
    <div class="left-[683px] top-[869px] absolute text-black text-base font-medium font-['Inter']">Breathing | Level 2</div>
    <div class="left-[1045px] top-[869px] absolute text-black text-base font-medium font-['Inter']">Anxiety Calmer | Sound 2</div>
    <div class="left-[684px] top-[476px] absolute text-black text-base font-medium font-['Inter']">Waves Effect | Sound 1</div>
    <div class="left-[1045px] top-[476px] absolute text-black text-base font-medium font-['Inter']">Pressure Off | Video 1</div>
    <div class="left-[1045px] top-[667px] absolute text-black text-base font-medium font-['Inter']">Pass Through | Video 1</div>
    <div class="left-[689px] top-[671px] absolute text-black text-base font-medium font-['Inter']">Journal Night | Doc 1</div>
    <div class="left-[568px] top-[671px] absolute text-black/50 text-base font-medium font-['Inter']">Wed</div>
    <div class="left-[917px] top-[476px] absolute text-black/50 text-base font-medium font-['Inter']">Today</div>
    <div class="left-[1280px] top-[671px] absolute text-black/50 text-base font-medium font-['Inter']">12/24</div>
    <div class="left-[908px] top-[869px] absolute text-black/50 text-base font-medium font-['Inter']">Nov 24</div>
    <div class="left-[1248px] top-[476px] absolute text-black/50 text-base font-medium font-['Inter']">Yesterday</div>
    <div class="left-[915px] top-[671px] absolute text-black/50 text-base font-medium font-['Inter']">Friday</div>
    <div class="left-[546px] top-[869px] absolute text-black/50 text-base font-medium font-['Inter']">Dec 24</div>
    <div class="left-[1270px] top-[869px] absolute text-black/50 text-base font-medium font-['Inter']">Oct 24</div>
    <div class="w-[280px] h-[120px] left-[323px] top-[346px] absolute bg-[#d9d9d9]/0 rounded-lg border border-[#026633]"></div>
    <div class="left-[418px] top-[396px] absolute text-black text-base font-medium font-['Inter']">    Add New</div>
    <div class="left-[407px] top-[383px] absolute text-black text-[32px] font-medium font-['Inter']">+</div>
</div>
</body>
</html>