<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Create Account Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
<body>
    <div class="w-[1440px] h-[1024px] relative bg-white  overflow-hidden">
    <div class="w-[216px] h-[1024px] left-[2px] top-[-1px] absolute bg-white rounded-tr-lg rounded-br-lg border border-[#026633]"></div>
    <div class="left-[41px] top-[62px] absolute text-[#026633] text-[40px] font-normal font-['Inter']">Careso</div>
    <div class="left-[55px] top-[110px] absolute text-[#026633] text-base font-normal font-['Inter']">Healing Minds</div>
    <div class="w-[214px] h-[102.40px] left-0 top-[207px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[68px] top-[48px] absolute text-black text-2xl font-medium font-['Inter']">
            <a href="/clients">Clients</a>
        </div>
    </div>
    <div class="w-[214px] h-[102.40px] left-0 top-[309px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[55px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">
            <a href="/calender">Calender</a>
        </div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[409px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[38px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">
            <a href="/liveactivity">Live Activity</a>
        </div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[511px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[46px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">
            <a href="/resources">Resources</a>
        </div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[1px] top-[717px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[41px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">
            <a href="/community">Community</a>
        </div>
    </div>
    <div class="w-[214px] h-[102.40px] left-0 top-[614px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[79px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">
            <a href="/chat">Chat</a>
        </div>
    </div>
    <div class="w-[214px] h-[102.40px] left-[2px] top-[819px] absolute">
        <div class="w-[214px] h-[102.40px] left-0 top-0 absolute bg-white/0"></div>
        <div class="left-[70px] top-[51px] absolute text-black text-2xl font-medium font-['Inter']">
            <a href="/profile">Profile</a>
        </div>
    </div>
    <div class="left-[418px] top-[370px] absolute"><span class="text-[#026633] text-[130.54px] font-bold font-['Inter'] leading-[172.32px]">Welcome To<br/>   </span><span class="text-[#026633] text-[174.06px] font-bold font-['Inter'] leading-[208.87px]">Careso</span></div>
</div>
</body>
</html>